{% extends 'blog/base.html' %}

{% block content %}
<div class="jumbotron">
    <h2>Veuillez vous connecter:</h2>
    <h3>(Doit être superutilisateur, s'il vous plaît vérifier
        avec l'administrateur du site)</h3>
    {% if form.errors %}
        <p>Votre nom d'utilisateur et votre mot de passe ne correspondent pas,
            s'il vous plaît essayez à nouveau</p>
    {% endif %}
    <form action="{% url 'login' %}" method="POST">
        {% csrf_token %}
        {% form.as_p %}
        <input type="submit" class="btn btn-primary" value="Connexion">
        <input type="hidden" name="next" value="{{next}}">
    </form>
</div>
{% endblock %}